@import "/assets/fonts.css";

body {
   margin: 0;
   padding: 0;
   font-family: "roboto";

}

* {
    box-sizing: border-box;
}

.container {
    background-color: #4a154b;
    border-radius: 1rem;
    
}
.main-header {
    padding: 0;
    margin: 0 4rem;
    /* max-width: 70rem; */
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-container {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 2rem;
        img {
            width: 110px;
            height: auto;
        }
            ul {
                display: flex;
                padding: 0;
                gap: 3rem;
                list-style: none;
    
                li a {
                    color: white;
                    margin: 0;    
                    font-weight: 500;
                    text-decoration: none;
                    
                }
            }
    
    
    }
    .right-container {
        .primary {
            border-radius: 6px;
            padding: 15px;
            border: 2px solid white;
            font-weight: 600;
            color: #4a154b;
            &.outline {
                background-color: transparent;
                border: 2px solid white;
                color: white;
            }
        }
    }
}

.main-section {
    max-width: 70rem;
    margin: auto;
    
    .title {
        display: flex;
        align-items: center;
        gap: 1rem;

            img {
                width: 50px;
                height: auto;
                /* aspect-ratio: 1/1; */
            }
            h1 {
                color: white;
                font-size: 50px;
                margin: 40px 0 25px 0;
                
            }
                .section-one {
                    border: 1px solid white;


                }
}
}